<div fxFlex="100%" fxFlex.gt-md="33.33%">
    <div class="app-card app-card--select">
      <div class="app-card__header app-bg-decorative app-text-contrast">
        Card header
      </div>
      <div class="app-card__content app-bg-decorative-lt-10 app-text-contrast _app-card-min-height">
        <div class="app-productive-heading-03 mb-1">
          Content title
        </div>
        <p class="app-body-short-01">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam,
        </p>
      </div>
    </div>
  </div>